
<div class="col-md-3">
  <div id="mylists">
    <h3>Set Lists</h3>
      {{#each}}
          <div class="thumbnail">
            <h4>{{#link-to 'my_list' this.id}}{{title}}{{/link-to}}</h4>
            <ol>
              {{#each item in items}}
                <li>{{item.title}}</li>
              {{/each}}
            </ol>
        </div>
      {{/each}}
  </div>
  <div id="all_songs" class="row">
    <h3>All Songs</h3>
      <div class="thumbnail">
      <ul>
      {{#each song in songLibrary}}
        <li>{{#link-to 'item' song.id}}{{song.title}}{{/link-to}}</li>
      {{/each}}
      </ul>
      <a href="#" {{action createItem}}>+ New Song</a>
      </div>
  </div>
</div>
<div class="col-md-9">

{{outlet}}
</div>